@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

:root {
    --primary-color: #8A6708;
    --secondary-color: #555500;
    --accent1-color: #e9dead;
    --accent2-color: #000000;

    --heading-font: Permanent Marker, serif;
    --paragraph-font: roboto, serif;

    --nav-background-color: #8A6708;
    --nav-link-color: #000000;
    --nav-hover-link-color: #e9dead;
    --nav-hover-background-color: #555500;

    }

body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f3f3e1;
        text-align: justify;
        /* #f3f3e1 */
        
    }
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

    
h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
     
}


section h2 {
    text-align: center;
    margin: 1rem;

}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero h1 {
   top: 0; 
   width: 100%;
   background-color: #e9deadb9;
   text-align: center;
}

.hero article {
    top: 5rem;
    background-color: #f3f3e171;
    margin: 15px;
    padding: 1rem;

}

.hero article img {
    float: right;
    width: 150px;
    margin-left: 1rem;
}

.hero h1, .hero article {
    position: absolute;
 
}

header {
    margin: 1rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 20px;
}

header img {
    margin: 1px;
    display: block;
	width: 200px;
	height: auto;
}
nav {
    text-align: center;
    display: flex;  
}

nav a {
    display: block;
    padding: 20px;
    flex: 1 1 100%;
}


.grid {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 1fr 250px 1fr;
    /* padding-top: 20px; %%%%% */
}

.item {

    width: fit-content;
    margin: 10px;
}
.item-1 {
    min-height: 200px;
}

.item-2 {
    
    min-height: 200px;
}

.item-2 img {
    width: 250px;
	height: auto;
}

.item-3 {
    
    min-height: 200px;
}

.grid-2 {
    justify-content: space-evenly;
    display: grid;
    gap: 1rem;
}

.grid-2 figure img {
    width : 100%;
    height : 150px;
    object-fit : cover;
}

.grid-2 figure {
    grid-row : 2 / 3;
    text-align: center;  
}

footer {
    border-top: 1px solid #000;
    margin: 1rem;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer p {
   display: flex;
   padding: 20px;
}

.socials nav {
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr;
}
.socials img {
    width: 30px;
    height: auto;
}
