@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

:root {
    --primary-color: #8A6708;
    --secondary-color: #555500;
    --accent1-color: #e9dead;
    --accent2-color: #000000;

    --heading-font: Permanent Marker, serif;
    --paragraph-font: roboto, serif;

    --nav-background-color: #8A6708;
    --nav-link-color: #000000;
    --nav-hover-link-color: #e9dead;
    --nav-hover-background-color: #555500;

    }

body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
        background-color: #f3f3e1;
        /* #f3f3e1 */
        
    }
    

    * {
    
        box-sizing: border-box;
}

    
h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
     
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10px auto;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero h1 {
   top: 0; 
   
   width: 100%;
   background-color: #e9dead49;
   padding: 1rem;
   margin: 0;
}

.hero article {
    top: 5rem;
    background-color: #f3f3e1;
    margin: 2rem;
    padding: 1rem;
}

.hero article img {
    float: right;
    width: 200px;
    margin-left: 1rem;
}

.hero h1 .hero article {
    position: absolute;
    bottom : 25%;
    
    
}

